div {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.languages {
    display: flex;
    justify-content: center;
}

.languages li {
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.repoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.repo {
    margin-left:10px;
    margin-right:10px;
}
.repoRank{
    text-align: center;
    margin: 20px;
}
.repoInfo {
    margin-bottom: 8px;
    margin-left:10px;
}
.repoImage {
    border-radius: 50%;
    width: 150px;
    align-self: center;
}
.repoName {
    margin-top:10px;
    text-align: center;
}

.nav {
    display: flex;
}
.active {
    font-weight: bold;
}
li {
    margin-top:20px;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: red;
}
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset {
    margin-left: 50;
    border: none;
    background-color: transparent;
    font-size: 14;
    font-weight: 400;
}
.button {
    color:#e6e6e6;
    background:#0a0a0a;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    width:200px;
    text-align:center;
    display:block;
    padding: 7px 0;
    margin: 10px auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

.formColumn {
    display:flex;
    flex-direction: column;
    width:500px;
    align-items: center;
}

.formColumn input {
    border-radius: 3px;
    margin:10px 0;
    padding: 5px;
    font-size:16px;
    width:80%;
}

.column label {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}
.header {
    font-size:30px;
    font-weight: 200;
}

.resultContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}